microservice-chart:
  namespace: "afm"
  nameOverride: ""
  fullnameOverride: ""
  image:
    repository: pagopapcommonacr.azurecr.io/pagopaafmmarketplacebe
    tag: "0.3.3" #improve
    pullPolicy: Always
  livenessProbe:
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
  service:
    create: true
    type: ClusterIP
    port: 8080
  ingress:
    create: true
    host: "weudev.afm.internal.platform.pagopa.it"
    path: /pagopa-afm-marketplace-service/(.*)
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "128Mi"
      cpu: "0.1"
    limits:
      memory: "512Mi"
      cpu: "0.3"
  autoscaling:
    minReplica: 1
    maxReplica: 3
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
  envConfig:
    COSMOS_URI: https://pagopa-p-weu-afm-marketplace-cosmos-account.documents.azure.com:443/
    CONFIGURATION_TRIGGER: "0 0 12 * * ?"
    AFM_CALCULATOR_HOST: https://api.platform.pagopa.it/afm/calculator-data-service/v1
    AFM_CALCULATOR_RETRY_MAX_ATTEMPTS: "1"
    AFM_CALCULATOR_RETRY_MAX_DELAY: "2000"
    CORS_CONFIGURATION: '{"origins": ["*"], "methods": ["*"]}'
    ENV: 'prod'
  envSecret:
    COSMOS_KEY: afm-marketplace-p-cosmos-pkey
    APPLICATIONINSIGHTS_CONNECTION_STRING: ai-p-connection-string

  keyvault:
    name: "pagopa-p-afm-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity: {}
