microservice-chart:
  namespace: "afm"
  nameOverride: ""
  fullnameOverride: ""
  image:
    repository: pagopaucommonacr.azurecr.io/pagopaafmmarketplacebe
    tag: "0.6.0"
    pullPolicy: Always
  livenessProbe:
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
  service:
    create: true
    type: ClusterIP
    port: 8080
  ingress:
    create: true
    host: "weuuat.afm.internal.uat.platform.pagopa.it"
    path: /pagopa-afm-marketplace-service/(.*)
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "512Mi"
      cpu: "0.20"
    limits:
      memory: "512Mi"
      cpu: "0.3"
  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 10
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "70"
  envConfig:
    WEBSITE_SITE_NAME: 'pagopaafmmarketplacebe' # required to show cloud role name in application insights
    COSMOS_URI: https://pagopa-u-weu-afm-marketplace-cosmos-account.documents.azure.com:443/
    AFM_CALCULATOR_HOST: https://api.uat.platform.pagopa.it/afm/calculator-data-service/v1
    AFM_CALCULATOR_RETRY_MAX_ATTEMPTS: "1"
    AFM_CALCULATOR_RETRY_MAX_DELAY: "2000"
    CORS_CONFIGURATION: "{\"origins\": [\"*\"], \"methods\": [\"*\"]}"
    ENV: 'uat'
    LOGGING_LEVEL: "INFO"
  envSecret:
    # required
    APPLICATIONINSIGHTS_CONNECTION_STRING: 'ai-u-connection-string'
    COSMOS_KEY: afm-marketplace-u-cosmos-pkey
    AFM_CALCULATOR_SUBSCRIPTION_KEY: afm-calculator-u-subkey
  keyvault:
    name: "pagopa-u-afm-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity: {}
